.beaches {
  background-color: #faf9f6;
  padding: 100px 0;
  text-align: center;
}

.beaches-content {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.beaches-item {
  flex: 1 1 30%;
  border-radius: 50px 0;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 300ms;
  font-family: 'Cormorant-Garamond';
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.beaches-item#hawaii {
  background-image: url('../../images/travel-bucketlist/hawaii.jpeg');
}

.beaches-item#Nalaguraidhoo {
  background-image: url('../../images/travel-bucketlist/nalaguraidhoo.jpeg');
}

.beaches-item-text {
  width: 100%;
  height: 100%;
  padding: 20px;
  background: rgba(253, 253, 252, 0.9);
  opacity: 1;
  transition: all 300ms;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #444444;
  font-family: 'Cormorant-Garamond';
}

.beaches-item-text h3 {
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 10px;
}

.beaches-item:hover .beaches-item-text{
  opacity: 0;
}

.beaches-item:hover {
  transform: scale(1.03);
}
