.hobbies {
  background-color: #fdfdfc;
  padding: 100px 0;
  text-align: center;
}

.hobbies-content {
  display: flex;
  flex-wrap: wrap;
  padding: 0 100px; 
  gap: 20px;
}

.hobbies-content-item {
  flex: 1 1 200px;
  border-radius: 20px 0;
  background-color: #faf9f6;
  padding: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  font-family: 'Cormorant-Garamond';
  color: #444444;
}

.hobbies-content-item h3 {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: normal;
}

.hobbies-content-item p {
  font-size: 18px;
  line-height: 25px;
}
